﻿html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background: #EDF2F4;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* SHARED */
body {
    font-family: 'Montserrat', sans-serif;
}



/* NAVIGATION */
.header {
    height: 100px;
    background: #ff6a00;
    color: #fff;
}

.header nav {
    height: 100%;
    margin: 0 auto;
}

.header nav ul{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-around;
}

.header nav ul li {
    height: 100%;
    
}

.header a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
}

nav {
    display: flex;
}

/* FORMS */
.wrapper {
    background: #EDF2F4;
    padding: 30px;
}

.form-wrapper {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0 0 0;
}

.form-wrapper h1 {
    font-size: 35px;
    margin: 0 0 40px 0;
}

.form-wrapper {
    font-size: 20px;
}

.form-wrapper input[type=text], input[type=password], select {
    width: 300px;
    height: 40px;
    margin: 20px 0;
}

.form-wrapper input[type=radio] {
    margin: 20px 0;
}

.form-wrapper input[type=checkbox] {
    margin: 10px 10px;
}

.btn-primary, .btn-success {
    margin-top: 10px;
    width: 300px;
    padding: 10px;
    font-size: 18px;
}

.back {
    text-decoration: none;
    display: block;
    margin: 30px 0;
    color: #000000;
}

.back:hover {
    text-decoration: none;
}

/* HOME/INDEX */

.apartments {
    margin: 0 auto;
    width: 900px;
}

.apartment {
    height: 300px;
    width: 1000px;
    margin: 20px auto;
    border: 1px solid black;
    display: flex;
    padding: 10px;
}

.apartment img {
    height: 280px;
    width: 280px;
}

.apartment-info {
    margin-left: 30px;
}

.apartment-info p {
    font-size: 18px;
    line-height: 1.7;
}

.btn-view-more {
    width: 150px;
}

.searchForm {
    margin-left: 10px;
    
}

.searchForm input[type=text], input[type=date] {
    width: 160px;
    margin: 10px 0;
    height: 30px;
    border-radius: 5px;
    border-style: solid;
    border: 1px solid #cccccc;
    padding: 3px 10px;
    /* uklanja focus */
    outline: none;
}

.searchForm label {
    display: inline-block;
    width: 130px;
}

#searchLocation, #searchGuestCapacity {
    width: 340px;
}

.user-info {
    margin: 0 20px;
}

/* APARTMENT/CREATE */


/* APARTMENT/SHOW */
.show-info {
    text-align: center;
    width: 1000px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.9;
    padding-top: 60px;
}

.show-more-img {
    height: 400px;
    width : 400px;
}

/* RESERVATION/INDEX */

.reservations {
    width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
}

.reservation {
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

.reservations p {
    margin: 20px 0;
}

/* USER/SHOW */

.users {
    width: 1000px;
    margin: 40px auto;
    font-size: 18px;
    line-height: 2;
}

.user {
    border: 1px solid black;
    margin: 20px 0;
    padding: 20px;
}



.heading {
    font-size: 35px;
    font-weight: bold;
}

.info-heading {
    font-size: 25px;
    font-weight: bold;
}

.comment {
    margin-top: 20px;
}

/* COMMENT/SHOW */

.show-comments {
    width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
}

.show-comment {
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

.show-comment p {
    margin: 20px 0;
}

/* Amenities/Create */
.amenity {
    margin-top: 10px;
}