﻿@model WebProjekat.ViewModel.EditAccountViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>Edit</title>
</head>
<body>
    <div class="form-wrapper">
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["Error"]
            </div>
        }
        else if (TempData["Message"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["Message"]
            </div>
        }
        <h1>Edit</h1>
        <form action="/Account/PostEdit" method="post">
            <p>First Name</p>
            <input type="text" name="Name" value="@Model.Name" /><br />
            <p>Last Name</p>
            <input type="text" name="Lastname" value="@Model.Lastname" />        <br />
            <p>Password</p>
            <input type="password" name="Password" value="@Model.Password" />    <br />
            <p>Gender</p>
            <input type="text" name="Gender" value="@Model.Gender" /><br />
            <input class="btn btn-primary btn-view-more" type="submit" name="submit" value="Edit" />
            <input type="hidden" name="Username" value="@Model.Username" />
        </form>
        <a class="back" href="/Home/Index">Go to site</a>
    </div>
</body>
</html>
