﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />


</head>
<body>
    <div class="wrapper"> 
        <div class="form-wrapper">
            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["Error"]
                </div>
            }
            <h1>Login</h1>
            <form action="/Account/Login" method="post">
                <p>Username</p>
                <input type="text" name="username" value="" />
                <p>Password</p>
                <input type="password" name="password" value="" /><br />
                <input class="btn btn-primary" type="submit" name="submit" value="Login" /><br />
                <a class="btn btn-success btn-lg" href="/Account/Register">Register</a><br />
                <a class="back" href="/Home/Index">Go to site</a>
            </form>
        </div>
    </div>
</body>
</html>
