﻿@model List<WebProjekat.Models.Amenity> 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Amenity</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="wrapper">
            <div class="form-wrapper">
                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @TempData["Error"]
                    </div>
                }
                else if (TempData["Message"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        @TempData["Message"]
                    </div>
                }
                <h1>Create Amenity</h1>
                <form action="/Amenities/Create" method="post">
                    <p>Amenity name</p>
                    <input type="text" name="Name" value="" /><br />
                    <input class="btn btn-primary btn-lg" type="submit" name="submit" value="CREATE" />
                </form>

                <div class="amenity-list">
                    <ul>
                        @foreach (var amenity in Model)
                        {
                            <li class="amenity">@amenity.Name <a class="btn btn-danger" href="/Amenities/Delete?name=@amenity.Name">Delete</a></li>
                        }
                    </ul>
                </div>
            </div>
            <a class="back" href="/Home/Index">Go to site</a>
        </div>

    </div>
</body>
</html>
