﻿@model WebProjekat.ViewModel.CreateApartmentViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.multidatespicker.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery-ui.multidatespicker.js"></script>
    <script src="~/Scripts/app/createApartment.js"></script>
</head>
<body>
    <div>
        <div class="wrapper">
            <div class="form-wrapper">
                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @TempData["Error"]
                    </div>
                }
                else if (TempData["Message"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        @TempData["Message"]
                    </div>
                }
                <h1>Create Apartment</h1>
                <form action="/Apartment/PostCreate" method="post" enctype="multipart/form-data">
                    <p>Apartment type</p>
                    <input id="type-full" type="radio" name="Type" value="0"> Full
                    <input id="type-oneBedroom" type="radio" name="Type" value="1"> One Bedroom<br>
                    <p>Number of rooms</p>
                    <input id="roomNumber" type="text" name="RoomNumber">
                    <p>Guest capacity</p>
                    <input id="guestCapacity" type="text" name="GuestCapacity">
                    <p>Price per night (EUR)</p>
                    <input id="price" type="text" name="Price">
                    <p>Check in time (example format 10 PM)</p>
                    <input class="timepicker" id="checkInTime" type="text" name="CheckInTime">
                    <p>Check out time (example format 10 PM)</p>
                    <input class="timepicker" id="checkOutTime" type="text" name="CheckOutTime">
                    <p>Address</p>
                    <input id="city" type="text" name="Address">

                    <p>Street Number</p>
                    <input id="street" type="text" name="StreetNumber">
                    <p>Postal code</p>
                    <input id="postalCode" type="text" name="PostalCode">


                    <p class="rent">Choose dates</p>
                    <input type="text" name="Dates" id="date" autocomplete="off">

                    <p>Amenities</p>
                    <div class="amenities">

                        <ul class="amenitiesList">
                            @foreach (var amenity in Model.Amenities)
                            {
                                <li><input type="checkbox" name="Amenities" value="@amenity.Name">@amenity.Name</li>
                            }
                        </ul>
                    </div>
                    <p>Pictures</p>
                    <div class="btn btn-primary btn-lg" id="addFile">Add File</div><br>
                    <input class="btn btn-primary btn-lg" id="btnCreateApartment" type="submit" value="Create Apartment">
                    <input type="hidden" id="latitude" name="Latitude">
                    <input type="hidden" id="longitude" name="Longitude">
                    <a class="back" href="/Home/Index">Go to site</a>
                </form>
            </div>
        </div>
    </div>
    <script>
        function activatePlacesSearch() {
            var input = document.getElementById("city");
            var autocomplete = new google.maps.places.Autocomplete(input);

            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var place = autocomplete.getPlace();
                document.getElementById('latitude').value = place.geometry.location.lat();
                document.getElementById('longitude').value = place.geometry.location.lng();
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAc1SB8c-0RV0ZFHEboMYSTiwfiulzbKw4&libraries=places&callback=activatePlacesSearch"></script>
    <script>
        $("#date").multiDatesPicker({
            minDate: 0, // today
        });
    </script>
</body>
</html>
