﻿@model WebProjekat.ViewModel.RentApartmentViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rent</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.multidatespicker.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery-ui.multidatespicker.js"></script>
</head>
<body>
    <div class="form-wrapper">
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["Error"]
            </div>
        }
        else if (TempData["Message"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["Message"]
            </div>
        }
        <h1>Rent Apartment</h1>
        <form action="/Apartment/PostRent" method="post">
            <p>Available Dates</p><br />
            <p>@Model.AvailableDates</p><br />
            <p>Rent dates</p><br />
            <input id="date" type="text" name="RentDate" value="" /><br />
            <p>Number of days you want to staty</p>
            <input type="text" name="Days" value="" /><br />
            <input class="btn btn-primary btn-lg" type="submit" name="submit" value="Rent" />
            <input type="hidden" name="Id" value="@Model.Id" />
        </form>
        <a class="back" href="/Home/Index">Go to site</a>

    </div>
    <script>
        $("#date").datepicker({
            minDate: 0, // today
        });
    </script>
</body>
</html>
