﻿@model WebProjekat.ViewModel.ShowApartmentViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="show-info">
            <h1 class="heading">Show More</h1>
            <div id="map"></div>
            @{
                string apartmentType = "Unknown";

                if (Model.Apartment.Type == "0")
                {
                    apartmentType = "Full";
                }
                else
                {
                    apartmentType = "One Bedroom";
                }

                <p>Apartment type: @apartmentType</p>
            }
            <p>Host: @Model.Apartment.Host</p>
            <p>Number of rooms: @Model.Apartment.RoomNumber</p>
            <p>Guest capacity: @Model.Apartment.GuestCapacity</p>
            <p>Check in time: @Model.Apartment.CheckInTime</p>
            <p>Check out time: @Model.Apartment.CheckOutTime</p>
            <p>Price per night @Model.Apartment.Price EUR</p>
            <p>Dates: @Model.Apartment.DatesAvailability</p>
            <p>Address: @Model.Apartment.Location.Address, @Model.Apartment.Location.StreetNumber</p>
            <p>Postal Code: @Model.Apartment.Location.PostalCode</p>
            @{
                string amenities = "";
                string[] amenitiesArray = Model.Apartment.Amenities.Split('_');
                foreach (string amenity in amenitiesArray)
                {
                    amenities += amenity + " ";
                }
                <p>Amenities: @amenities</p>
                <br />
                <p class="info-heading">Pictures</p>
                string[] picturesArray = Model.Apartment.Pictures.Split('*');
                foreach (string picture in picturesArray)
                {
                    <img class="show-more-img" src="~/Content/@picture" />
                }
            }
            <div class="comments">
                <p class="info-heading">Comments</p>
                @foreach (var comment in Model.Comments)
                {
                    if (comment.IsAllowed)
                    {
                        <div class="comment">
                            <p>Guest: @comment.GuestUsername</p>
                            <p>Grade: @comment.Grade</p>
                            <p>Comment: @comment.Text</p>
                        </div>
                    }
                }
                <br /> <br />
            </div>
            @if (Model.UserType.ToLower() == "guest")
            {
                <form class="form-wrapper" action="/Comment/Add" method="post">
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @TempData["Error"]
                        </div>
                    }
                    else if (TempData["Message"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["Message"]
                        </div>
                    }
                    <p>Enter apartment grade:</p>
                    <input type="hidden" name="ApartmentId" value="@Model.Apartment.Id" />
                    <input type="text" name="Grade" value="" />
                    <p>Enter comment:</p>
                    <textarea style="width:350px" name="Text"></textarea>
                    <br /><input value="Add comment" class="btn btn-primary" type="submit" name="submit" />
                </form>
            }
            <a class="back" href="/Home/Index">Go to site</a>
        </div>
    </div>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAc1SB8c-0RV0ZFHEboMYSTiwfiulzbKw4&libraries=places"></script>
    <script>
        var myLatlng = new google.maps.LatLng(@Model.Apartment.Location.Lat, @Model.Apartment.Location.Long);
        var myOptions = {
            zoom: 15,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(document.getElementById("map"), myOptions);

        var latLng = { lat: @Model.Apartment.Location.Lat, lng: @Model.Apartment.Location.Long };
        var marker = new google.maps.Marker({
            position: latLng,
            map: map
        });
    </script>
</body>
</html>
