﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Host</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper"> 
        <div class="form-wrapper">
            <h1 class="heading">Create Host</h1>
            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["Error"]
                </div>
            }
            else if (TempData["Message"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["Message"]
                </div>
            }
            <form class="create-host-form" action="/Admin/CreateHost" method="post">
                <p>Username</p>
                <input type="text" name="Username" value="" />
                <p>Password</p>
                <input type="password" name="Password" value="" />
                <p>Name</p>
                <input type="text" name="Name" value="" />
                <p>Last name</p>
                <input type="text" name="LastName" value="" />
                <p>Gender</p>
                <select name="Gender">
                    <option value="MUSKI">MUSKI</option>
                    <option value="ZENSKI">ZENSKI</option>
                </select><br />
                <input class="btn btn-primary" type="submit" name="submit" value="CREATE HOST" />
                <a class="back" href="/Home/Index">Go to site</a>
            </form>
        </div>
    </div>
</body>
</html>
