﻿@model WebProjekat.ViewModel.ShowCommentViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show Comments</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="show-comments">
        @foreach (var comment in Model.Comments)
        {
            <div class="show-comment">
                <p><a href="/Apartment/Show?id=@comment.ApartmentId">Apartment: @comment.ApartmentId</a></p>
                <p>Guest: @comment.GuestUsername</p>
                <p>Grade: @comment.Grade</p>
                <p>Text: @comment.Text</p>
                <p>Status: @((comment.IsAllowed == false) ? "Not Allowed" : "Allowed")</p>
                @if (Model.UserType.ToLower() == "host" && comment.IsAllowed == false)
                {
                    <a class="btn btn-info" href="/Comment/Allow?id=@comment.Id">Allow</a>
                }
            </div>
        }
        <a class="back" href="/Home/Index">Go to site</a>
    </div>
</body>
</html>
