﻿@model WebProjekat.ViewModel.HomeViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.multidatespicker.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery-ui.multidatespicker.js"></script>
</head>
<body>
    <div class="header">
        <nav>
            
            <ul>
                <div class="user-info">
                    @if (Model.UserIsLoggedIn)
                    {
                        <p>@Model.Username</p>
                        <p>@Model.UserType</p>
                    }
                    else
                    {
                        <p>User is not logged in</p>
                    }
                </div>
                @if (Model.UserIsLoggedIn)
                {
                    if (Model.UserType == "ADMIN")
                    {
                        <li><a href="/Admin/CreateHost">Create Host</a></li>
                        <li><a href="/Amenities/GetCreate">Create Amenity</a></li>
                        <li><a href="/User/Show">Users</a></li>
                        <li><a href="/Comment/Show">Comments</a></li>
                    }
                    else if (Model.UserType == "HOST")
                    {
                        <li><a href="/Apartment/Create">Create Apartment</a></li>
                        <li><a href="/Comment/Show">Comments</a></li>
                    }
                    else if (Model.UserType == "GUEST")
                    {

                    }
                    <li><a href="/Account/Logout">Logout</a></li>
                    <li><a href="/Reservation/Index">Reservations</a></li>
                    <li><a href="/Account/Edit">Edit</a></li>
                }
                else
                {
                    <li><a href="/Account/Register">Register</a></li>
                    <li><a href="/Account/Login">Login</a></li>
                }
            </ul>
        </nav>
    </div>
    
    <div class="apartments">
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["Error"]
            </div>
        }
        else if (TempData["Message"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["Message"]
            </div>
        }
        <br />
        <button id="searchBtn" class="btn btn-info" style="width:100px;">Search</button>
        <button id="sortBtn" class="btn btn-warning" style="width:100px; margin: 10px 10px;">Sort</button>
        <a href="/Home/Index" id="resetSearchBtn" class="btn btn-danger" style="width:100px;">Reset</a>

        <form action="/Home/Search" method="post">
            <div class="searchForm">
                <labeL>Location</labeL>
                <input name="Location" type="text" id="searchLocation">
                <br /><label>Date range</label>
                <input class="rangeInput" name="StartDate" type="text" id="searchStartDate"> -
                <input class="rangeInput" name="EndDate" type="text" id="searchEndDate">
                <br /><label>Room range</label>
                <input name="MinRoomNumber" class="rangeInput" type="text" id="searchMinRooms"> -
                <input name="MaxRoomNumber" class="rangeInput" type="text" id="searchMaxRooms">
                <br /><label>Price range </label>
                <input name="MinPrice" class="rangeInput" type="text" id="searchMinPrice"> -
                <input name="MaxPrice" class="rangeInput" type="text" id="searchMaxPrice">
                <br /><label>Guests number</label>
                <input name="GuestCapacity" type="text" id="searchGuestCapacity">
                <br /><button id="startSearchBtn" class="btn btn-info">Start search</button>

            </div>
        </form>
        <br />

        <form action="/Home/Sort" method="post">
            <div class="sortForm">
                <select name="Order">
                    <option value="ASC">Ascending order</option>
                    <option value="DSC">Descending order</option>
                </select>
                <br /><button id="startSortBtn" class="btn btn-info">Start sort</button>
            </div>
        </form>
        <br />


        @foreach (var apartment in Model.Apartments)
        {
            if (Model.UserType == "GUEST")
            {
                if (apartment.ApartmentStatus.ToLower() == "active")
                {
                    string thumbnail = apartment.Pictures.Split('*')[0];
                    <div class="apartment">
                        <img src="~/Content/@thumbnail" alt="apartment-thumbnail" />
                        <div class="apartment-info">
                            <p>Apartment status: @apartment.ApartmentStatus</p>
                            <p>Address: @apartment.Location.Address, @apartment.Location.StreetNumber</p>
                            <p>Number of rooms: @apartment.RoomNumber</p>
                            <p>Guest capacity: @apartment.GuestCapacity</p>
                            <p>Price per night @apartment.Price EUR</p>
                            <p>Host: @apartment.Host</p>
                            <br />
                            <a class="btn btn-info btn-view-more" href="/Apartment/Show?id=@apartment.Id">Show More</a>
                            <a class="btn btn-warning btn-view-more" href="/Apartment/Rent?id=@apartment.Id">Rent</a>
                        </div>
                    </div>
                }
            }
            else if (Model.UserType == "HOST")
            {
                if (apartment.Host.ToLower() == Model.Username.ToLower())
                {
                    string thumbnail = apartment.Pictures.Split('*')[0];
                    <div class="apartment">
                        <img src="~/Content/@thumbnail" alt="apartment-thumbnail" />
                        <div class="apartment-info">
                            <p>Apartment status: @apartment.ApartmentStatus</p>
                            <p>Address: @apartment.Location.Address, @apartment.Location.StreetNumber</p>
                            <p>Number of rooms: @apartment.RoomNumber</p>
                            <p>Guest capacity: @apartment.GuestCapacity</p>
                            <p>Price per night @apartment.Price EUR</p>
                            <p>Host: @apartment.Host</p>
                            <br /><br />
                            <a class="btn btn-info btn-view-more" href="/Apartment/Show?id=@apartment.Id">Show More</a>

                            @if (apartment.ApartmentStatus.ToLower() == "inactive")
                            {
                                <a class="btn btn-warning btn-view-more" href="/Apartment/Activate?id=@apartment.Id">Activate</a>
                            }
                            <a class="btn btn-warning btn-view-more" href="/Apartment/Edit?id=@apartment.Id">Edit</a>
                            <a class="btn btn-danger btn-view-more" href="/Apartment/Delete?id=@apartment.Id">Delete</a>
                        </div>
                    </div>
                }
            }
            else if (Model.UserType.ToLower() == "admin")
            {
                string thumbnail = apartment.Pictures.Split('*')[0];
                <div class="apartment">
                    <img src="~/Content/@thumbnail" alt="apartment-thumbnail" />
                    <div class="apartment-info">
                        <p>Apartment status: @apartment.ApartmentStatus</p>
                        <p>Address: @apartment.Location.Address, @apartment.Location.StreetNumber</p>
                        <p>Number of rooms: @apartment.RoomNumber</p>
                        <p>Guest capacity: @apartment.GuestCapacity</p>
                        <p>Price per night @apartment.Price EUR</p>
                        <p>Host: @apartment.Host</p>
                        <br />
                        <a class="btn btn-info btn-view-more" href="/Apartment/Show?id=@apartment.Id">Show More</a>
                        <a class="btn btn-warning btn-view-more" href="/Apartment/Edit?id=@apartment.Id">Edit</a>
                        <a class="btn btn-danger btn-view-more" href="/Apartment/Delete?id=@apartment.Id">Delete</a>
                    </div>
                </div>
            }
            else
            {
                if (apartment.ApartmentStatus.ToLower() == "active")
                {
                    string thumbnail = apartment.Pictures.Split('*')[0];
                    <div class="apartment">
                        <img src="~/Content/@thumbnail" alt="apartment-thumbnail" />
                        <div class="apartment-info">
                            <p>Apartment status: @apartment.ApartmentStatus</p>
                            <p>Address: @apartment.Location.Address, @apartment.Location.StreetNumber</p>
                            <p>Number of rooms: @apartment.RoomNumber</p>
                            <p>Guest capacity: @apartment.GuestCapacity</p>
                            <p>Price per night @apartment.Price EUR</p>
                            <p>Host: @apartment.Host</p>
                            <br />
                            <a class="btn btn-info btn-view-more" href="/Apartment/Show?id=@apartment.Id">Show More</a>
                        </div>
                    </div>
                }
            }
        }
    </div>
    <script>
        $(document).ready(function () {
            $(".searchForm").hide();
            $("#searchBtn").click(function () {
                $(".searchForm").slideToggle("slow");
            });

            $(".sortForm").hide();
            $("#sortBtn").click(function () {
                $(".sortForm").slideToggle("slow");
            });

            $("#searchStartDate").datepicker({
                minDate: 0, // today
            });

            $("#searchEndDate").datepicker({
                minDate: 0, // today
            });
        });
    </script>
</body>
</html>

