﻿@model WebProjekat.ViewModel.ShowUserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="users">
        <a href="/Home/Index">Go back</a>
        <form action="/User/Search" method="post">
            <div class="searchForm">
                <p>Username</p>
                <input style="width: 350px; height: 40px" name="Username" type="text" id="">
                <p>Role</p>
                <select name="Role">
                    <option value="ADMIN">Admin</option>
                    <option value="HOST">Host</option>
                    <option value="GUEST">Guest</option>
                </select>
                <p>Gender</p>
                <select name="Gender">
                    <option value="MUSKI">Muski</option>
                    <option value="ZENSKI">Zenski</option>
                </select>
                <br /><button id="startSearchBtn" class="btn btn-info">Start search</button>
                <a href="/User/Show" id="resetSearchBtn" class="btn btn-danger">Reset Search</a>
            </div>
        </form>

        @foreach (var user in Model.Users)
        {
            <div class="user">
                <p>Username: @user.Username</p>
                <p>Type: @user.Type</p>
                <p>First name: @user.Name</p>
                <p>Lastname: @user.LastName</p>
                <p>Gender: @user.Gender</p>
                <a class="btn btn-warning" href="/User/Edit?username=@user.Username">Edit</a>
            </div>
        }
        <a href="/Home/Index">Go back</a>
    </div>
</body>
</html>
