﻿@model WebProjekat.ViewModel.ReservationViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
</head>
<body>
    <div class="reservations">
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["Error"]
            </div>
        }
        @if (Model.User.Type.ToLower() != "guest")
        {
            <button id="searchBtn" class="btn btn-info" style="width:100px;">Search</button>
            <a href="/Reservation/Index" id="resetSearchBtn" class="btn btn-danger" style="width:100px;">Reset</a>
            <form action="/Reservation/Search" method="post">
                <div class="searchForm">
                    <p>Guest Username</p>
                    <input style="width: 350px; height: 40px" name="GuestUsername" type="text" id="">
                    <br /><button id="startSearchBtn" class="btn btn-info">Start search</button>
                </div>
            </form>
            
        }

        @foreach (var resevation in Model.Reservations)
        {
            <div class="reservation">
                <p>Start date: @resevation.StartDate</p>
                <p>Number of days: @resevation.Days</p>
                <p>Total price: @resevation.TotalPrice</p>
                <p>Host: @resevation.HostUsername</p>
                <p>Guest: @resevation.GuestUsername</p>
                <p><a href="/Apartment/Show?id=@resevation.ApartmentId">Apartment ID: @resevation.ApartmentId</a></p>
                <p>Status: @resevation.Status</p>
                @if (Model.User.Type.ToLower() == "guest")
                {
                    if (resevation.Status.ToLower() == "created" || resevation.Status.ToLower() == "accepted")
                    {
                        <a class="btn btn-danger" href="/Reservation/Cancell?id=@resevation.Id">Cancell</a>
                    }
                }
                else if (Model.User.Type.ToLower() == "host")
                {
                    if (resevation.Status.ToLower() == "created")
                    {
                        <a class="btn btn-info" href="/Reservation/Accept?id=@resevation.Id">Accept</a>
                        <a class="btn btn-danger" href="/Reservation/Reject?id=@resevation.Id">Reject</a>
                    }
                    if (resevation.Status.ToLower() == "accepted")
                    {
                        <a class="btn btn-info" href="/Reservation/Finish?id=@resevation.Id">Finish</a>
                        <a class="btn btn-danger" href="/Reservation/Reject?id=@resevation.Id">Reject</a>
                    }
                }

            </div>
        }
        <a class="back" href="/Home/Index">Go to site</a>
    </div>
    <script>
        $(document).ready(function () {
            $(".searchForm").hide();
            $("#searchBtn").click(function () {
                $(".searchForm").slideToggle("slow");
            });

        });
    </script>
</body>
</html>
